.App {
  text-align: center;
  background-color: rgb(247, 234, 223);
  font-family: Arial, Helvetica, sans-serif;
  
  /* display: flex;
  flex-direction: column; */
}


.home {
    text-align :center;
    /* border : 1px solid teal; */
    /* margin-top: 2; */
}


button {
  color: white;
  background-color: teal;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.6rem;
  width: 6rem;
}


.play {
  color: rgb(2, 107, 107);
  list-style-type: none ;
  padding: 1.2rem;
  ;
}